/* Nav.css */

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #969696;
  /* background: linear-gradient(to right, #afeeee, #708090); */
  padding: 1rem;
}

.Title a {
  text-decoration: none;
  color: #000000; /* 검정색 글씨 */
  font-size: 24px; /* 큰 사이즈 */
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbarMenu {
  text-decoration: none;
  color: #000000; /* 검정색 글씨 */
  font-size: 16px;
  margin-left: 10px; /* 간격 조정 */
  transition: color 0.3s ease-in-out;
}

.navbarMenu:hover {
  color: #c4c4c4; /* 마우스 오버 시 색상 변화 */
}
